/*----------------------------
 Google Fonts
 ----------------------- */

@import url('https://fonts.googleapis.com/css2?family=Inter&family=Poppins:ital,wght@0,500;1,500&display=swap');

/*---------------
 Universal Styles
 ------------------- */

*{
    margin: 0;
    padding: 0;
}

/* ----------------
Common Styles
 ------------------*/

body{ 
    font-family: 'Poppins', sans-serif;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0px 20px;
}
h1{
    font-size: 3.25rem;
}
h2{
    font-size: 1.75rem;
    font-weight: 700;
}
h3{
    font-size: 1.5rem;
    font-weight: 700;
}
small{
    font-size: 14px;
    font-weight: 500;
    font-family: 'Inter', sans-serif;
    
}
.fa-arrow-right{
    padding-left: 8px;
}


/*-----------------
 Navbar Styles
 ----------------------- */

header{
    min-height: 100vh;
    margin-bottom: 50px;
}

#navbar-toggler{
    display: none;
}
.navbar-toggler-icon{
    display: none;
}
.navbar{
    display: flex;
    justify-content: space-between;
    min-height: 20vh;
    align-items: center;
    max-width: 100%;
}
.navbar-menu{
    display: flex;
    justify-content: space-between;
    max-width: 100%;
}

.navbar-menu ul{
    display: flex;
    list-style-type: none;
}

.navbar-menu ul li{
    padding-right: 34px;
}

.navbar-menu ul li a{
    text-decoration: none;
    font-weight: 600;
    color: #3A3A3A;
}

/*-----------------------
 Header Area Style
 --------------------*/

.header-area{
    display: flex;
    align-items: center;
    gap: 131px;
    height: calc(100vh - 20vh);
}
.header-title{
    padding-bottom: 16px;
    font-weight: 700;
    width: 90%;
}
.header-text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1;
}
.header-paragraph{
    padding-bottom: 16px;
    font-weight: 500;
    width: 90%;
}
.preebook-button{
    display: flex;
    align-items: center;
    background-color: #E02C6D;
    padding: 10px 24px;
    border: none;
    border-radius: 41px;
    color: white;
    font-weight: 700;
    position: relative;
    overflow: hidden;
    cursor: pointer; 
}

@keyframes slide {
    20%{       
        background-color: blueviolet;     
    }
    40%{       
        background-color: rgb(21, 111, 230);     
    }
    60%{       
        background-color: rgb(86, 238, 81);     
    }
    80%{       
        background-color: rgb(226, 214, 43);     
    }
    100%{
        background-color: rgb(226, 43, 43);
    }
}
.preebook-button:hover{
    color: black;
    animation: slide 2s linear infinite ;
   
}


  

.header-image{
    background-image: url(images/Circle\ design.svg);
    background-size: cover;
    background-repeat: no-repeat;
    overflow:hidden;
}

.header-image:hover img{
    transform: scale(1.5) rotate(30deg);
    transition: .7s linear;
}

/* ------------------------
Company-Logo Styles
---------------------------------*/

.companies-logo{
    padding: 36px 0px;
    display: grid;
    grid-template-columns: repeat(7,1fr);
    justify-items: center;
    align-items: center;
}

/* -------------------------
Popular Collections 
---------------------------------*/

.popular-collections{
    margin-top: 100px;
    margin-bottom: 100px;
}
.collections-heading{
    
    font-weight: 600;
    margin-bottom: 30px;
    text-align: center;
}
.popular-products{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-items: center;
    grid-row-gap: 30px;
    grid-column-gap: 30px;
}
.single-product{
    padding: 17px;
    border: 1px solid #f7f6f6;
    border-radius: 5px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(197, 194, 194, 0.699);
}
.single-product img{
    width: 100%;
    margin-bottom: 16px;
}
.product-info{
    display: flex;
    flex-direction: column;
    gap: 6px;
}
.product-price{
    font-weight: 500;
}
.product-rating .filled, .half-filled{
    color: #FB8200;
}
.product-rating span{
    padding-left: 10px;
}

.see-more{
    margin-top: 50px;
    display: flex;
    justify-content: flex-end;
    text-decoration: none;
    align-items: center;
    color: #E02C6D;
    padding-right: 20px ;
    
}

/*--------------------
 Our Services
 --------------------- */
 .services-title{
    text-align: center;
    margin-bottom: 40px;
    padding-top: 30px;
 }
.our-services{
    background-color: #F6F7FB;
    padding: 70px 0;
    margin-bottom: 100px;
}
.all-services{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-items: center;
}
.single-service{
    display: flex;
    align-items: center;
    gap: 20px;
}
.service h3{
    text-transform: uppercase;
}
.service p{
    font-family: 'Inter', sans-serif;

}
.single-service .fas{
    font-size: 50px;
    color: #ee9dbd;
}

/*-----------------
 Footer Area
 -------------------- */

footer{
    background-color: black;
    padding: 60px 0;
}

.footer-area{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.footer-icon .fab{
    margin-right: 16px ;
    margin-top: 16px;
    border: 1px solid none;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    padding: 10px;
}

/* -----------
Style For Mobile Device 
----------------*/

@media screen and (max-width:688px) {

/* Navbar */
    .navbar-toggler-icon{
        display: block;
    }
    .navbar{
        position:relative;
    }
    .navbar-menu ul{
        position: absolute;
        left: 0;
        top: -500px ;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 16px;
        justify-content: center;
        align-items: center;
        color: white;
        padding: 20px 0px;
        background-color: black;
    }
    .navbar-menu ul li a{
        color: white;
    }
    #navbar-toggler:checked ~ .navbar-menu ul{
        top: 120px;
        transition: .6s ease-in-out;
    }

/* Header  */
    .header-area{
        flex-direction:column-reverse;
        height: fit-content;
        gap: 5px;
    }
    .header-image img{
        width: 300px;
    }
    .header-text{
        align-items: center;
        text-align: center;
    }

/* Company Logo */
    .companies-logo{ 
       display: flex;
       flex-wrap: wrap;
       justify-content: center;
       align-items: center;
       gap: 19px;
        
    }
    .companies-logo img{
        width: 15%;     
    }

/* Popular Collections */
    .popular-products{
        grid-template-columns: repeat(1, 1fr);      
    }

/* Our Services */ 
    .all-services{
        grid-template-columns: repeat(1, 1fr);
        gap: 30px;
        justify-items: flex-start;
    }

}

/* -----------
Style For Tablet 
----------------*/
@media screen and (min-width:689px) and (max-width:992px){

 /* Navbar */
    .navbar-toggler-icon{
        display: block;
    }
    .navbar{
        position:relative;
    }
    .navbar-menu ul{
        position: absolute;
        left: 0;
        top: -500px ;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 16px;
        justify-content: center;
        align-items: center;
        color: white;
        padding: 20px 0px;
        background-color: black;
    }
    .navbar-menu ul li a{
        color: white;
    }
    #navbar-toggler:checked ~ .navbar-menu ul{
        top: 120px;
        transition: .6s ease-in-out;
    }

 /* Header  */   
    .header-area{
        flex-direction:column-reverse;
        height: fit-content;
        gap: 5px;
    }
    .header-image img{
        width: 300px;
    }
    .header-text{
        text-align: center;
    }

/* Company Logo */
    .companies-logo{ 
       display: flex;
       flex-wrap: wrap;
       justify-content: center;
       align-items: center;
       gap: 20px;
        
    }
    .companies-logo img{
        width: 16%;         
    }

/* Popular Collections */
    .popular-products{
        grid-template-columns: repeat(2,1fr);      
    }

/* Our Services */ 
    .all-services{
        grid-template-columns: repeat(2,1fr);
        gap: 30px;
    }
    .single-service{
       flex-direction: column;
    }

}
